@charset "UTF-8";
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #428bca;
}
a.text-primary:hover {
  color: #3071a9;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #428bca;
}
a.bg-primary:hover {
  background-color: #3071a9;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
  content: "";
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #1fbba6;
  border-color: #1ba593;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #188f7f;
  border-color: #137164;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #1fbba6;
  border-color: #1ba593;
}
.btn-success .badge {
  color: #1fbba6;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background-color: #f27935;
  border-color: #f0691d;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #e55c0f;
  border-color: #c44e0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f27935;
  border-color: #f0691d;
}
.btn-warning .badge {
  color: #f27935;
  background-color: #ffffff;
}
.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}
.btn-link {
  color: #428bca;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.sv-form.input-group .unsmiley {
  border-bottom-color: #d9534f;
}
.sv-form.input-group .unsmiley > label {
  color: #a94442;
}
.sv-form.input-group .smiley {
  border-bottom-color: #1fbba6;
}
.sv-form.input-group .smiley > label {
  color: #3c763d;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
.segmented-control {
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid transparent;
  border-top: 0px none;
  border-left: 0px none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.segmented-control > .control-item {
  background-color: #f9fafc;
  border-top: 8px solid #f9fafc;
  border-left: 1px solid transparent;
  font-size: 18px;
  line-height: 1.5;
  color: #667788;
}
.segmented-control > .control-item.active {
  color: #1fbba6;
  font-weight: bold;
  background-color: #ffffff;
  border-top-color: #1fbba6;
}
html,
body {
  font-family: Microsoft Yahei, Tahoma, Verdana, sans-serif, simsun, Arial;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
textarea,
input,
select {
  vertical-align: middle;
  resize: none;
  outline: none;
}
#ix_wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#ix_wrapper.statistic-view {
  padding-top: 44px;
}
.bi-bar {
  background-color: #323a44;
}
.bi-bar .btn-link,
.bi-bar .icon-left-nav,
.bi-bar .icon-person,
.bi-bar .title {
  color: #ffffff;
}
.bi-bar .dropdown-menu {
  width: 100%;
  max-height: 480px;
  margin: 0;
  padding: 0;
  border: 1px none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.bi-login-tab {
  z-index: 10;
  margin-top: -1px;
}
.bi-login {
  height: 100%;
  margin-top: -44px;
  padding-top: 44px;
}
.bi-login .card {
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.bi-login .btn-positive {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: #E0DDDB;
  font-size: 48px;
  margin: 1em auto;
}
.bi-login .btn-positive.active,
.bi-login .btn-positive:active {
  color: #fff;
  border: 1px solid #E0DDDB;
}
.bi-login .btn-positive:hover,
.bi-login .btn-positive:focus,
.bi-login .btn-positive.hover,
.bi-login .btn-positive.focus {
  color: #fff;
}
.bi-login .bi-dynamicpwd {
  width: 100px;
}
.bi-login .info {
  position: absolute;
  bottom: 40px;
  color: #eee;
}
.bi-login .info h5,
.bi-login .info p,
.bi-login .info .bi-contact {
  font-size: 16px;
}
.bi-login .info h5 {
  color: #f27935;
  line-height: 1.5em;
}
.bi-login .info p {
  color: #909CAB;
}
.bi-login .info .bi-contact {
  display: block;
  font-size: 24px;
  color: #909CAB;
  line-height: 1.5em;
  font-weight: lighter;
}
.form-control {
  position: relative;
  margin-top: 1em;
  height: 40px;
}
.bi-authcode,
.bi-dynamicpwd {
  position: absolute;
  top: 0px;
  right: 5px;
}
.bi-authcode .auth-img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/*
	品牌列表样式
 */
.brand-list .brand-item .price,
.brand-list .brand-item .unit {
  display: block;
  text-align: left;
  font-size: 1em;
}
.brand-list .brand-item .price {
  padding-top: 12px;
  color: #555555;
}
.brand-list .brand-item .unit {
  color: #777777;
  font-size: 0.6em;
}
.brand-logo {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/*
	过滤条件工具栏
 */
.bi-filter {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  border: 0 none;
}
.bi-filter .filter-item {
  display: table-cell;
  width: 50%;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 3;
  color: #333;
  font-weight: 700;
  border: 0 none;
  vertical-align: middle;
}
.bi-filter .filter-item:first-child {
  border-right: 1px solid #eee;
  width: 25%;
}
.bi-filter .filter-item:last-child {
  border-left: 1px solid #eee;
  width: 25%;
}
.bi-filter .item-label {
  display: block;
  position: relative;
  line-height: 3;
  color: #555555;
}
.bi-filter .item-label .label {
  font-size: 16px;
  display: block;
  text-align: center;
  padding-right: 2em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bi-filter .item-label .brand-logo {
  margin-left: 3px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.bi-filter .item-label > .icon {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1em;
  line-height: 4;
  font-weight: normal;
  font-size: 12px;
  color: #777777;
}
/*
	表头
 */
.table-header {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  font-weight: 400;
  background-color: #fff;
  border: 0 none;
  z-index: 1;
}
.table-header .table-cell {
  display: table-cell;
  width: 1%;
  overflow: hidden;
  text-align: center;
  line-height: 3;
  font-size: 12px;
}
.table-header .table-cell.hisdate,
.table-header .table-cell.curdate {
  color: #fff;
  width: 50%;
}
.table-header .table-cell.hisdate .flex,
.table-header .table-cell.curdate .flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  vertical-align: middle;
  height: 4em;
}
.table-header .table-cell.hisdate .icon,
.table-header .table-cell.curdate .icon {
  display: block;
  width: 4em;
  height: 4em;
  font-size: 12px;
  line-height: 4;
  vertical-align: middle;
  color: #fff;
}
.table-header .table-cell.hisdate .icon-left,
.table-header .table-cell.curdate .icon-left {
  border-right: 1px solid #88ebde;
  -webkit-order: 1;
  order: 1;
  -webkit-flex: none;
  flex: none;
}
.table-header .table-cell.hisdate .icon-right,
.table-header .table-cell.curdate .icon-right {
  border-left: 1px solid #88ebde;
  -webkit-order: 3;
  order: 3;
  -webkit-flex: none;
  flex: none;
}
.table-header .table-cell.hisdate .date,
.table-header .table-cell.curdate .date {
  display: block;
  font-size: 12px;
  line-height: 1.5em;
  vertical-align: middle;
  -webkit-order: 2;
  order: 2;
  -webkit-flex: 1;
  flex: 1;
  text-indent: 0;
}
.table-header > .table-cell.curdate {
  background-color: #f27935;
  vertical-align: middle;
  -webkit-justify-content: center;
  justify-content: center;
}
.table-header > .table-cell.curdate .date {
  width: 100%;
}
.table-header > .table-cell.hisdate {
  background-color: #1fbba6;
  vertical-align: middel;
}
/*
	数据统计报表
 */
.content > .bi-table {
  padding-top: 96px;
}
.bi-table .table-row,
.bi-table .table-header {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  font-weight: 400;
  background-color: #fff;
  border: 0 none;
}
.bi-table .table-cell {
  display: table-cell;
  width: 1%;
  overflow: hidden;
  text-align: center;
  line-height: 3;
  font-size: 12px;
}
.bi-table .table-body .table-row {
  border-bottom: 1px solid #eeeeee;
}
.bi-table .table-body .table-row .table-cell:first-child {
  border-right: 1px solid #eeeeee;
}
.bi-table .table-body .table-cell .label,
.bi-table .table-body .table-cell .unit {
  color: #777777;
  font-size: 1em;
}
.bi-table .table-body .table-cell .num,
.bi-table .table-body .table-cell .percent {
  color: #333333;
  font-size: 1.2em;
}
.bi-table .table-body .table-cell h5 {
  padding-left: 25%;
  margin-left: -2em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
  font-size: 1.2em;
  color: #777777;
}
.bi-table .table-body .table-cell .table-cell.label {
  border-right: 1px none;
  width: 25%;
  text-align: right;
}
.bi-table .table-body .table-cell .table-cell.unit {
  width: 35%;
  text-align: left;
  padding-left: .5em;
}
.bi-table .table-body .table-cell .table-cell.num {
  width: 40%;
  text-align: right;
}
.bi-table .table-body .curdate .table-row,
.bi-table .table-body .hisdate .table-row {
  border-bottom: 0 none;
}
.bi-table .table-body .hisdate h5.label {
  visibility: hidden;
}
.bi-table .table-body .common .uncheckout.hisdate {
  visibility: hidden;
}
.bi-table .table-body .chart .chart-canvas {
  height: 100px;
  width: 100%;
}
.bi-table .table-body .chart .chart-legend {
  text-align: left;
  border-bottom: 0 none;
  line-height: 2em!important;
}
.bi-table .table-body .chart .chart-legend .table-cell {
  line-height: 1em;
}
.bi-table .table-body .chart .chart-legend .table-cell.label {
  width: 45%;
  text-align: left;
}
.bi-table .table-body .chart .chart-legend .table-cell.label > span:last-child {
  vertical-align: middle;
}
.bi-table .table-body .chart .chart-legend .table-cell.num {
  width: 40%;
  text-align: right;
  font-size: 1.2em;
}
.bi-table .table-body .chart .chart-legend .table-cell.unit {
  width: 15%;
  text-align: left;
  padding-left: .25em;
}
.bi-table .table-body .chart .chart-legend .legend-icon,
.bi-table .table-body .chart .chart-legend .label,
.bi-table .table-body .chart .chart-legend .num,
.bi-table .table-body .chart .chart-legend .unit {
  display: inline-block;
  vertical-align: middle;
  visibility: visible;
}
.bi-table .table-body .chart .chart-legend .legend-icon {
  width: 1em;
  height: 1em;
  margin-left: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-right: .5em;
}
.bi-table .table-body .chart .chart-legend .legend-icon.mainIcon {
  background: #f27935;
}
.bi-table .table-body .chart .chart-legend .legend-icon.subIcon {
  background: #ccc;
}
.bi-table .table-body .chart .curdate,
.bi-table .table-body .chart .hisdate {
  padding-bottom: 1.5em;
}
.bi-table .table-body .chart .hisdate .chart-legend .mainIcon {
  background: #1fbba6;
}
.bi-table .table-body .list .hisdate .label {
  visibility: visible;
}
.bi-table .table-body .list .hisdate h5 {
  visibility: hidden;
}
.bi-table .table-body .list ul {
  margin: 0;
  padding: 0;
}
.bi-table .table-body .list ul > li {
  list-style: none;
  width: 100%;
  display: table;
  margin-bottom: .5em;
}
.bi-table .table-body .list .label,
.bi-table .table-body .list .percent,
.bi-table .table-body .list .num,
.bi-table .table-body .list .unit {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  line-height: 2em;
  vertical-align: middle;
}
.bi-table .table-body .list .label {
  width: 3em;
  text-overflow: initial;
  overflow: auto;
  white-space: normal;
  line-height: 1.5em;
}
.bi-table .table-body .list .percent {
  width: 30%;
}
.bi-table .table-body .list .num {
  width: 30%;
}
.bi-table .table-body .list .unit {
  width: 2em;
  text-align: left;
}
.bi-table .table-body .list .curdate,
.bi-table .table-body .list .hisdate {
  padding-bottom: 1.5em;
}
/*
	页面工具栏
 */
.bi-toolbar {
  position: relative;
  top: 0px;
  left: 0px;
  margin-top: 0px;
  z-index: 5;
}
.bi-toolbar + .bi-table {
  margin-top: 48px;
}
.bi-toolbar .dropdown-menu {
  width: 100%;
  max-height: 380px;
  margin: 0;
  padding: 0;
  border: 1px none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/*
	集团下拉菜单
 */
.droplist-group,
.droplist-cycle {
  max-height: 480px;
  overflow: auto;
}
.droplist-group .label,
.droplist-cycle .label {
  display: block;
}
.droplist-group .brand-logo,
.droplist-cycle .brand-logo {
  margin-left: 3px;
  margin-right: 1em;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.droplist-group .list-item,
.droplist-cycle .list-item {
  padding: 15px 3px;
  border-bottom: 1px solid #eeeeee;
}
.droplist-group .list-item.active,
.droplist-cycle .list-item.active,
.droplist-group .list-item.hover,
.droplist-cycle .list-item.hover {
  color: #1fbba6;
}
.droplist-group .list-item.hover,
.droplist-cycle .list-item.hover {
  background-color: #b4f2ea;
}
.droplist-group .list-item:last-child,
.droplist-cycle .list-item:last-child {
  border-bottom: 1px none;
}
.droplist-cycle .label {
  text-align: center;
}
.droplist-shop {
  height: 380px;
  position: relative;
  background-color: #eeeeee;
}
.droplist-shop .city-item,
.droplist-shop .shop-item {
  padding: 15px 3px;
}
.droplist-shop .city-item.active,
.droplist-shop .shop-item.active,
.droplist-shop .city-item.hover,
.droplist-shop .shop-item.hover {
  color: #1fbba6;
}
.droplist-shop .city-item.hover,
.droplist-shop .shop-item.hover {
  background-color: #b4f2ea;
}
.droplist-shop .menu-city,
.droplist-shop .menu-shop {
  display: block;
  height: 100%;
  overflow: auto;
}
.droplist-shop .menu-city {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  background-color: #fff;
}
.droplist-shop .menu-city .num {
  display: inline-block;
  float: right;
  padding-right: 5px;
}
.droplist-shop .menu-city .city-item.active {
  background-color: #eeeeee;
}
.droplist-shop .menu-shop {
  margin-left: 120px;
  width: 100%;
  border-left: 1px solid #eeeeee;
  background-color: transparent;
}
.droplist-shop .menu-shop > ul {
  display: none;
  width: 100%;
}
.droplist-shop .menu-shop > ul.active {
  display: block;
}
.brand-chart {
  position: relative;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #3e4a59;
}
.brand-chart .chart-list {
  position: absolute;
  display: block;
  margin-top: 100px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.brand-chart .chart-list .chart-canvas {
  position: absolute;
  top: 0;
}
.bi-profile .card {
  border: 0 none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.bi-profile .card > .btn-logout {
  margin-top: 2em;
  background-color: #e1e1e1;
  border: 1px solid #eeeeee;
  color: #fff;
}
.bi-profile .form-control > label {
  color: #777777;
}
.bi-profile .form-control > span[type=static] {
  vertical-align: middle;
  line-height: 2em;
}
/*Mask loading*/
@-webkit-keyframes 'rotate' {
  from {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(36deg);
  }
  20% {
    -webkit-transform: rotate(72deg);
  }
  30% {
    -webkit-transform: rotate(108deg);
  }
  40% {
    -webkit-transform: rotate(144deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  60% {
    -webkit-transform: rotate(216deg);
  }
  70% {
    -webkit-transform: rotate(252deg);
  }
  80% {
    -webkit-transform: rotate(288deg);
  }
  90% {
    -webkit-transform: rotate(324deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.site-mask {
  position: absolute;
  z-index: 20;
  background: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.site-mask.mask-dark {
  background: rgba(0, 0, 0, 0.3);
}
.site-mask .mask-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-top: -100px;
  margin-left: -150px;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 1em 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.site-mask .animate-loading {
  position: relative;
  margin: 0 auto 1.5em;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  border: 20px solid rgba(0, 0, 0, 0.3);
  border-right-color: #f27935;
}
.site-mask .animate-loading.active {
  -webkit-animation-name: 'rotate';
  animation-name: 'rotate';
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.site-mask .mask-msg {
  position: relative;
  display: block;
  margin: 2em auto;
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
  color: #555555;
  vertical-align: middle;
}
.site-toptip {
  position: fixed;
  z-index: 99;
  top: 80%;
  width: 100%;
  text-align: center;
}
.site-toptip p {
  text-align: center;
}
@keyframes popup {
  0% {
    top: 100%;
    filter: 20;
    opacity: 0.2;
  }
  100% {
    top: 80%;
    filter: 100;
    opacity: 1;
  }
}
@-moz-keyframes popup {
  0% {
    top: 100%;
    filter: 20;
    opacity: 0.2;
  }
  100% {
    top: 80%;
    filter: 100;
    opacity: 1;
  }
}
@-webkit-keyframes popup {
  0% {
    top: 100%;
    filter: 20;
    opacity: 0.2;
  }
  100% {
    top: 80%;
    filter: 100;
    opacity: 1;
  }
}
@-o-keyframes popup {
  0% {
    top: 100%;
    filter: 20;
    opacity: 0.2;
  }
  100% {
    top: 80%;
    filter: 100;
    opacity: 1;
  }
}
@keyframes bubbleover {
  0% {
    top: 80%;
  }
  100% {
    top: 100%;
    filter: 20;
    opacity: 0.2;
  }
}
@-moz-keyframes bubbleover {
  0% {
    top: 80%;
  }
  100% {
    top: 100%;
    filter: 20;
    opacity: 0.2;
  }
}
@-webkit-keyframes bubbleover {
  0% {
    top: 80%;
  }
  100% {
    top: 100%;
    filter: 20;
    opacity: 0.2;
  }
}
@-o-keyframes bubbleover {
  0% {
    top: 80%;
  }
  100% {
    top: 100%;
    filter: 20;
    opacity: 0.2;
  }
}
.site-toptip.popup {
  animation: popup .5s 1 ease;
  -moz-animation: popup .5s 1 ease;
  -webkit-animation: popup .5s 1 ease;
  -o-animation: popup .5s 1 ease;
}
.site-toptip.bubbleover {
  animation: bubbleover 0.5s 1 ease-out;
  -moz-animation: bubbleover 0.5s 1 ease-out;
  -webkit-animation: bubbleover 0.5s 1 ease-out;
  -o-animation: bubbleover 0.5s 1 ease-out;
}
